@font-face {
    font-family: "coconat";
    src: url("/src/fonts/Coconat-Regular.woff2") format("woff2"),
         url("/src/fonts/Coconat-Regular.woff") format("woff");
}

@font-face {
    font-family: "combine";
    src: url("/src/fonts/Combine.otf") format("otf");
}