extends ../template.pug

block title
    block variables
    title Chapter #{chapter} #{appendTitle}

block content
    - let pages = chapters[chapter]
    each page in pages
        img(src=page.image)
        p=page.date