extends ../template.pug 

block content 
    
    header 
        h1 Nimona Archive
    
    main

        form
            each theme in themes
                input(type="radio" name="theme" id=`input-${theme}` value=theme).theme-selector
                label(for=`input-${theme}`)=theme


    script(src="/src/config/config.js")
    

    
