extends template.pug 

block content 
    
    header 
        h1 Nimona Archive
    
    main
        section
            :markdown-it
                The Nimona webcomic has spawned a fully printed version,
                a movie, and helped start the career of its author!

                This website is here for a two reasons:

                1. Provide an archive for the orignal release
                2. Create a more accessible form of reading the comic (work in progress!)

            
            
        section
            :markdown-it
                ## So please make sure that you do any (or all!) of the following

                - Support the official release! It's a really nice print
                    - Check it out at your local library...
                    - ... or buy a copy of your own!

                - Support N.D. Stevenson's other work!
                    - [Read I'm fine I'm fine just understand](https://www.imfineimfine.com/), his new webcomic
                    - Watch She-Ra and the Prncesses of Power on Netflix
                    - Watch Nimona on Netflix
                    - Get & read [Lumberjanes](https://www.boom-studios.com/series/lumberjanes/)
                    - Follow him on [Instagram](https://www.instagram.com/gingerhazing/)
                    
                - Support a charity!
                    - [Mermaids](https://mermaidsuk.org.uk/), a charity supporting trans children and youth in the UK
                    - [The Trevor Project](https://www.thetrevorproject.org/), a non profit to support queer people through counseling, research...
                    - Or any other cool charity! Especially one that supports (young) queer/trans people
                    - *Oh! If you have suggestions for charities, or if you ended up donating, feel free to let me know at compromisedneopetspassword [at] proton.me !*



    
    
