@import "./fonts/fonts";

#background, .favicon {
    display: none;
}

body {
    font-family: "coconat", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, a {
    font-family: "combine", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

#chapter {
    width: 70%;
    @media (max-width: 800px) or (orientation: portrait) {
        width: 100%;
    }
    margin: auto;
    
    .page {
        img {
            display: block;
            margin: auto;
    
            width: 100%;
            max-width: max-content;
            
        }
    }
}